@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0}

#wrapper {border:2px solid blue;
		  margin:5px;
		  padding:5px
}
#header, #footer {border:1px solid grey;
		 margin:5px;
		 padding:5px;
		 height:100px;
		 background-color:#000
}
h1 {font-size:66px;
	font-weight:bold;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
	color:blue
}

#nav {border:1px solid blue;
	  margin:5px;
	  padding:5px;
	  background-color:#000;
	  height:30px;
}
#nav a{border:0px solid grey;
			display:inline-block;
			word-spacing:0px;
			text-decoration:none;
			padding:5px;
			font-size:15px;
			font-weight:bold;
			text-align:center;
			text-indent:10px;
			/*margin 0px 45px 0px 50px. Up, Left, Down, Right. */
			font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
			margin:2px;
			float:left
		}
#link {border:1px solid blue;
		margin:5px;
		padding:5px;
		height:100px;
		width:24%;
		background-color:black;
		float:left
}
#link ul{list-style-type:none}
	ul li{border-bottom:1px solid cyan}
	
	li a{padding:15px;
		 display:block;
		 color:red;
		 font-family:Verdana, Geneva, sans-serif;
		 letter-spacing:1px;
		 text-decoration:none;
	}
	
	li a:hover{ background-color:white;
				color:#39c;
				text-decoration:underline;
	}

#content {border:1px solid blue;
		  height:700px;
		  margin:5px;
		  padding:5px;
		  float:left;
		  width:72%
}

#login {float:right}

#footer {/* border:1px solid blue;*/
		 height:50px;
		 margin:5px;
		 text-align:center;
		 clear:both
}

#footer p {color:red}